body {
  background-color: rgb(220, 220, 219);
}

.btn {
  background-color: rgb(82, 82, 255);
  border-radius: 50%;
  border-color: white;
  color: aliceblue;
}

.carousel {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 650px;
  justify-content: space-between;
  overflow: hidden;
  height: 900px;
}

img {
  width: 401px;
}
